### VS Code
export/
# .vscode/*
.haxelib/
# .github/
*.code-workspace
vs_Community.exe
# Local history which shouldn't be shared.
.history
.ionide
# macOS file attribute which can cause problems when uploading.
.DS_Store

RECOVER_**.fla
